<p id="notice"><%= notice %></p>

<h1>Datos</h1>

<table>
  <thead>
    <tr>
      <th>genero</th>
      <th>sedentario</th>
      <th>moderado</th>
      <th>activo</th>
      <th>altura</th>
      <th>peso</th>
      <th>cintura</th>
      <th>cuello</th>
      <th>cadera</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @datos.each do |dato| %>
      <tr>
        <td><%= dato.genero %></td>
        <td><%= dato.sedentario %></td>
        <td><%= dato.moderado %></td>
        <td><%= dato.activo %></td>
        <td><%= dato.altura %></td>
        <td><%= dato.peso %></td>
        <td><%= dato.cintura %></td>
        <td><%= dato.cuello %></td>
        <td><%= dato.cadera %></td>                      
        <td><%= link_to 'Show', dato %></td>
        <td><%= link_to 'Edit', edit_dato_path(dato) %></td>
        <td><%= link_to 'Destroy', dato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dato', new_dato_path %>