<p id="notice"><%= notice %></p>

<p>
  <strong>Genero:</strong>
  <%= @dato.genero %>
</p>

<p>
  <strong>Actividad:</strong>
  <%= @dato.actividad %>
</p>




<p>
  <strong>Altura:</strong>
  <%= @dato.altura %>
</p>
<p>
  <strong>Peso:</strong>
  <%= @dato.peso %>
</p>
<p>
  <strong>Cintura:</strong>
  <%= @dato.cintura %>
</p>

<p>
  <strong>Cuello:</strong>
  <%= @dato.cuello %>
</p>

<p>
  <strong>Cadera:</strong>
  <%= @dato.cadera %>
</p>



<%= link_to 'Edit', edit_dato_path(@dato) %> |
<%= link_to 'Back', datos_path %>
