<!DOCTYPE html>
<html>
  <head>
    <title>FitPartnerCol</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <%= stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  
  </head>

  <body >
  <div id="bg_container" class='unclickable' onclick='return false;'>
  <iframe loop="" id="bg" src="https://www.youtube.com/embed/4OrvzBYUr1Y?rel=0&autoplay=1&loop=0&vq=hd720=1&mute=1&enablejsapi=1" frameborder="0" allowfullscreen></iframe>


</div>



<div id="content">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>



  <div class="container mt-3">

  






  <div class="text-center">
  <div class="text-uppercase mx-3 fluid">
  <h2>Calculadora de porcentaje de grasa corporal</h2></div>
  
  <p>¿Estás en tu peso ideal? ¿Te sobra algo de grasa? Con la calculadora de grasa corporal online podrás averiguar qué porcentaje de grasa tienes de forma muy sencilla.</p>
  </div>


    <%= yield %>
  </div>
  </div>
  </body>
</html>
